---
layout: base.njk
titel: Archiv
permalink: /archiv/
---
{% from "karte.njk" import anzeigen %}
<h1>Archiv der Aktivitäten</h1>
<p>Presse, Ausstellungen, Foto- und Videogalerien in chronologischer Übersicht.</p>

<div class="kartenraster">
  {% for eintrag in collections.archiv %}
  {{ anzeigen(eintrag) }}
  {% endfor %}
</div>
