---
layout: base.njk
titel: Videos
permalink: /videos/
eleventyExcludeFromCollections: true
---
<h1>Videos</h1>

<div class="kartenraster">
  {% for eintrag in collections.videos %}
  <div class="karte">
    <div class="video-einbettung">
      {% if eintrag.data.youtubeId %}
      <iframe src="https://www.youtube-nocookie.com/embed/{{ eintrag.data.youtubeId }}" title="{{ eintrag.data.title }}" allowfullscreen loading="lazy"></iframe>
      {% elif eintrag.data.vimeoId %}
      <iframe src="https://player.vimeo.com/video/{{ eintrag.data.vimeoId }}" title="{{ eintrag.data.title }}" allowfullscreen loading="lazy"></iframe>
      {% endif %}
    </div>
    <div class="karte__inhalt">
      <h3>{{ eintrag.data.title }}</h3>
      <p class="karte__meta">{{ eintrag.data.date | datum }}</p>
    </div>
  </div>
  {% endfor %}
</div>
